<% include ../partials/header %>

<div class="container">
  <div class="row">
    <a href="/allinstructors"><button class="btn btn-primary">View all Instructors </button></a>
     <a href="/allstudents"><button class="btn btn-primary">View all Students </button></a>    
  </div>
</div>

 <% include ../partials/footer %>
