<% include ../partials/header %>


<style media="screen">
  .container{
    padding: 2vh 0 2vh 0;
  }
</style>

    <div class="container">
      <div class="panel text-center">
        <h3>Register as Admin</h3>
      </div>
        <form method="post" action="/adminregister">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">Username:</label>
              <input type="text" name="obj[username]" class="form-control" placeholder="Username">
            </div>
            <div class="form-group col-md-6">
              <label for="Full Name">Full Name:</label>
              <input type="text" name="obj[fullName]" class="form-control" placeholder="FullName">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email">Email:</label>
              <input type="email" name="obj[email]" class="form-control" id="inputEmail" placeholder="Email Address">
            </div>
            <div class="form-group col-md-6">
              <label for="emailConfirm">Confirm Email:</label>
              <input type="email" name="emailConfirm" class="form-control" id="inputConfiEmail" placeholder="Enter Email Address again" onblur="confirmEmail()">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
             <label for="password">Password:</label>
             <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
              <label for="mobileNumber">Mobile Number:</label>
              <input type="text" name="obj[mobileNumber]" class="form-control" id="inputMobNo" placeholder="Enter mobile number with country code">
            </div>
          </div>
          <div class="container text-center col-6">
            <div class="login">
              <a href="/login">Already registered? Login here</a>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>

<%
  function confirmEmail() {
    var email = document.getElementById("inputEmail").value
    var confiEmail = document.getElementById("inputConfiEmail").value
    if (email!=confiEmail) {
      alert('Email not matching');
    }
  }%>


 <% include ../partials/footer %>
