
<style>
  .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.05rem;
  background-image: linear-gradient(rgb(64, 64, 191), rgb(0, 0, 0));
  color: white;
  text-align: center;
}
.footer .container{
  padding-top: 2vh;
  padding-bottom: 1.2vh;
}
.footer a{
  text-decoration: none;
  color: white;
}
</style>
   <div class="footer">
     <div class="container">
       <p class="text-right"><a href="/contact-us">Contact Us</a></p>
       <p class="text-right"><a href="/feedback">Feedback</a></p>
       <p class="text-right"><a href="/about-us">About Us</a></p>
     </div>
     <div class="container">
       <p class="text-center"> &copy All Rights Reserved Widget EduTech Pvt. Ltd. </p>
    </div>
   </div>

</body>
</html>
