<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Home Widget EduTech</title>
  <% include ./bootstrap4 %>
  <% include ./icons %>
  <style>
    nav{
      background-image: linear-gradient(rgb(121, 121, 210), rgb(51, 51, 153));
    }
  </style>

</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#" disabled><img src="images/headerLogo.png" width="200" height="40" disabled="true" alt="WidgetEduTech Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Course Structure</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if(!currentUser){%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/beinstructor">Become an Instructor</a>
          </li>
        <%} else{%>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <%}%>
      </ul>
    </div>
  </nav>

<div class="container-fluid text-center">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger" role="alert"><%= error %></div>
     <% } %>

     <% if(success && success.length > 0) { %>
       <div class="alert alert-success" role="alert"><%= success %></div>
     <% } %>
  </div>
