<% include ./partials/header %>
<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Our Mission</h4>
    <p class="card-text">Some text</p>
  </div>
</div>
<% include ./partials/footer %>
