<% include ./partials/header %>

<style>

#bg {
  background-image: url("images/science-objects-seamless-animated-background-for-school-hd-motion-graphic_sxreexjwl_thumbnail-full01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  z-index: -2;
}
#bg h1{
  padding: 50vh 0 0 14vh;
  font-weight: 500;
}
</style>

 <div id="bg">
   <h1>
     <small class="text-mute"> Welcome To </small><br>
     Widget Edutech Pvt. Ltd.
  </h1>
 </div>

 <% include ./partials/footer %>
