header {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  text-align: center;
}
body {
    background-color:  #d9d9d9;
}

header a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background-color: #d9d9d9;
  border: 1px solid #d1cfcf;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

header a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

header #logo {
  border: 0px;
  float: right;
  padding: 0px;
  height: 50px;
}

header #logo img {
  display: block;
  height: 100%;
  width: 100%;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.botNav {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  padding: 0px;
}

.botNav>a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  border: 0px solid #d1cfcf;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.botNav>a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0px;
  padding-bottom: 3px;
}

.main {
  padding: 15px;
}
