header {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  text-align: center;
}

header a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background-color: #d9d9d9;
  border: 1px solid #d1cfcf;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

header a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

header #logo {
  border: 0px;
  float: right;
  padding: 0px;
  height: 50px;
}

header #logo img {
  display: block;
  height: 100%;
  width: 100%;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.botNav {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  padding: 0px;
}

.botNav>a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  border: 0px solid #d1cfcf;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.botNav>a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0px;
  padding-bottom: 3px;
}

.main {
  width: 100%;
  height: 100%;
  padding: 4px;
}

.main #notiPanel, #settingsPanel, #courseDetailPanel, #myAccPanel , #myAccFlip, #courseDetailFlip, #settingsFlip, #notiFlip {
  margin: auto;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #F5F5DC;
}

.main #myAccFlip, #courseDetailFlip, #settingsFlip, #notiFlip {
  padding: 5 px;
  text-align: center;

  border-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.main #notiPanel, #settingsPanel, #courseDetailPanel, #myAccPanel {
  border-top: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-bottom: 2px;
}

.main #myAccPanel .panelContent {
  height: 100%;
  width: 100%;
  padding: 3px;
}

.main form {
  width: 80%;
  margin: auto;
}

.main #settingsPanel a {
  padding-left: 10px;
}
